# Ignore Python compiled files and cache directories
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories (if placed in the project folder)
venv/
ENV/
env/

# Ignore PyCharm configuration files and project files
.idea/
*.iml

# Ignore log files and temporary files
*.log
tmp/
